
@font-face { font-family: Jellies; src: url('./assets/Jellies.ttf'); } 
@font-face { font-family: Bubbly; src: url('./assets/SuperBubbly.ttf'); } 

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* General */


h1{
    font-family: Jellies;
    color: rgb(162, 170, 253);
    font-size: 2em;
    -webkit-text-stroke: .1px rgb(255, 255, 255);
    position: relative;
    text-align: center;
    word-wrap: break-word;
   
    text-shadow: 5px 5px rgb(10, 88, 255);
    z-index: 1;  
        filter: drop-shadow(0px 1px 10px #000000);

}

p{

    position: relative;
    width: 90%;
    
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: 1.5em;
    font-family: Bubbly;
    color: rgb(185, 224, 250);

}

body{
    margin: 0;
    background-color: black;
    overflow-x: hidden;

 
}

html{
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}

/* Nested */

.ScrollingDisplay > #Price {
    -webkit-text-stroke: 0px rgb(120, 255, 93);

    color: rgb(0, 255, 106);
    text-shadow: 5px 5px rgb(11, 77, 41);
}

.ScrollingDisplay > h1 {
   
    width: 100%;
    
    position: absolute;
    font-family: Bubbly;
    height: auto;
    -webkit-text-stroke: 1px rgb(122, 93, 255);

    color: white;
    text-shadow: 5px 5px rgb(43, 34, 170);

    filter: drop-shadow(0px 1px 10px #000000);

}

.Description > #Price {
    -webkit-text-stroke: 0px rgb(120, 255, 93);
    font-family: Bubbly;
    color: rgb(0, 255, 106);
    text-shadow: 5px 5px rgb(11, 77, 41);
}

/* Classes */

.BG{
    position:fixed;
    width: 100%;
    height: 100%;
    background-image: url("./assets/BG1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

.Description {
    position: fixed;
    width: 90%;
    height: 500px;
    min-width: 300px;
    max-width: 500px;
    background-color: rgb(118, 175, 255);
    left: 50%;
    bottom: -1000px;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 1px 10px #000000);
    z-index: 10;
    border-radius: 20px;
    transition: bottom .2s;

}

.Description > p{
    position: absolute;
    top: 225px;
    margin: 0px;
    left: 50%;
    transform: translate(-50%,0%);
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-text-stroke: .1px rgb(0, 0, 0);
    font-size: 150%;
    filter: drop-shadow(0px 1px 10px #000000);
    max-height: 100px;

}


.previewImage {
    position: absolute;
    transform: translate(-50%,-50%);
   
    width: 90%;
    max-width: 400px;
    top: 45%;
    left: 3%;

    transition: width .1s, filter .1s;
    filter: drop-shadow(0px 20px 23px #000000) brightness(100%);

}




.previewImage:active{
   
    filter: drop-shadow(0px 2px 23px #000000)  brightness(80%);

}

.ScrollingDisplay {
    background-color: rgba(77, 56, 175, 0.514);
  
    margin-bottom: 100px;
    width: 70%;
    max-width: 300px;
    height: 400px;
    margin-right: 30px;
    transform: translate(0%,0%);
    position: relative;

    border-radius: 20px;
    filter: drop-shadow(0px 20px 30px #000000);

}

.ScrollingDisplay > h1 {
    font-size: 2em;
    left: 50%;
}

.CButton {
    width: auto;
    height: auto;
    padding: 10px;
 
    background: linear-gradient(0deg, rgb(118, 175, 255) 0%, rgb(161, 192, 236) 100%);
    
    position: relative;
    
    border-radius: 100px;
    border-style: solid;

    font-size: 1.5em;
    font-family: Bubbly;
    color: rgb(255, 255, 255);
  
    transition: padding .2s, color .2s, filter .2s;

}

.CButton:hover{
    padding: 20px;
    color: black;
}

.CButton:active{
    padding: 12px;
    color: rgb(200, 255, 225);
    
}


#Landing >.CButton {
    position: absolute;
    top: 450px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Arrow {
  
    width: 100px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    transition: width .1s, filter .1s;
    filter: drop-shadow(0px 1px 10px #000000);
    
}


.Arrow:hover{
    width: 120px;
    filter: drop-shadow(0px 15px rgb(90, 54, 253)) brightness(150%);
}

.Arrow:active{
    width: 90px;
    filter: drop-shadow(0px 5px rgb(0, 0, 0)) brightness(80%);

}


/* IDs */



#Close {
    position: absolute;
    width: 100%;
    height: 50px;
    top: -30px;
}

#Line {
    background-color: rgba(99, 172, 255, 0.5);
    border-radius: 20px;
    width: 100%;
    height: 10px;
    
    filter: drop-shadow(0px 5px rgb(0, 0, 0)) brightness(100%);
}

#ScrollingTemplate{
    margin: 50px;
    padding-bottom: 100px;
}
#ScrollContainers{
    width: 100%;

    position: relative;
    
    height: auto;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding-bottom: 100px;
}

#Container{
   
    z-index: 1;
    width: 100%;
    background-color: rgb(115, 148, 255);
   
    margin-bottom: 100px;

    padding-top: 50px;
    padding-bottom: 50px;
    left: 50%;
    height:  auto;
    transform: translate(-50%,0%); 
   
    /*background-color: rgb(255, 255, 255);*/
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    justify-content: center;

    padding: 100px;
    filter: drop-shadow(0px 0px 33px #000000);

}
#Container > p {
    color: rgb(255, 255, 255);
    font-size: 2em;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0);
    filter: drop-shadow(0px 5px rgb(111, 95, 255)); */
    width: 50%;
    min-width: 300px;
    text-shadow: 0px 5px 10px rgb(10, 88, 255);
    text-align: center;
    margin: 0px;
    padding: 10px;
}
#Container > img {
    
    max-width: 400px;
    max-height: 400px;

    width: 90%;
    height: auto;
   
    filter: drop-shadow(0px 5px 10px rgb(38, 0, 255))
}

#BottomHeader {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: rgb(115, 148, 255);
    position: relative;
    filter: drop-shadow(0px 0px 33px #000000);
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#BottomHeader > h1 {
    width: 100%;
}

#BottomHeader > p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0);
    filter: drop-shadow(0px 5px rgb(111, 95, 255)); */
    width: auto;
    min-width: 200px;
    text-shadow: 0px 5px 10px rgb(10, 88, 255);
    text-align: center;
    margin: 0px;
    padding: 10px;
}


#selectedImage {
    position: absolute;
    transform: translate(-50%,-50%);
   
    width: 40%;
    max-width: 400px;
    top: 125px;
    left: 50%;

    transition: width .1s, filter .1s;
    filter: drop-shadow(0px 5px 5px #000000) brightness(100%);

}

#Landing{
   
    z-index: 1;
    width: 100%;
    top: 0px;

    height: 600px;
    
    background-image: url("./assets/LANDING.png");
    background-repeat: no-repeat;

    background-size: cover;  

    /*background-color: rgb(255, 255, 255);*/
    position: relative;

}

#LandingTitle{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 270px;
    font-size: 5em;
     
}

#TopbarLogo{
    width: 300px;
    padding: 0px;
}

#Topbar{
    width: 100%;
    background-color: rgb(115, 148, 255);
    height: 60px;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    position:fixed;

    filter: drop-shadow(0px 40px 33px #000000);
}

@media screen and (max-width: 600px) {
    #TopbarLogo{
        width: 250px;
    }
    .ScrollingDisplay {
        width: 80%;
    }
    #Topbar{
        filter: drop-shadow(0px 10px 23px #000000);
    }
    #ScrollingTemplate{
        margin: 10px;
        margin-bottom: 50px;
    }
    #Container > p {
        font-size: 1.5em;
    }
    #Container{
        padding: 0px;
        padding-bottom: 10px;
    }
}
